@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

:root{
    --primary-color:#caa472;
    --secondary-color:brown;
    --caution:crimson;
    --toggle:gold;
    --black:black;
    --white:white;
    --font-family:sans-serif;

}
@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}  
/* RESET */
body,p,header,h1,h2,h3,div {
    margin: 0;
    border: none;
    padding: 0;
}
li {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* HELPER CLASS */
.tc-primary {
    color:var(--primary-color)!important;
}
.tc-black {
    color:var(--black)!important;
}
.tc-white {
    color:var(--white)!important;
}
.bgc-primary {
    background-color: var(--primary-color)!important;
}
.bgc-secondary {
    background-color: var(--secondary-color)!important;
}
.bgc-caution {
    background-color: var(--caution)!important;
}
.bgc-toggle {
    background-color: var(--toggle)!important;
}
.corner-1 {
    border-radius: 1rem!important;
}
.corner-2 {
    border-radius: 2rem!important;
}
.corner-3 {
    border-radius: 3rem!important;
}
/* USER SPECIFIC */
body {
    font-family:var(--font-family)!important;
}

footer {
    bottom: 0;
}
.form-modal{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: .5;
}
.active {
    display: block;
}

input[type=checkbox]{
    width:25px;
    height:25px;
    margin-right: 1rem;
}
#library {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:40px;
    margin-top: 40px;
}

@media (min-width: 768px) { 
    #library {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) { 
    #library {
        grid-template-columns: repeat(3, 1fr);
    }
}